.overlay{
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.7);
    z-index:1;
}

.hero{
    background-image:url("../images/hero.jpg");
}

[x-cloak] {
    display : none !important;
}

#map {
    width: 100%;
    height: 400px;
    border-radius: 8px;
    z-index:0;
}

#applicant-form{
    position: relative;
    z-index:3;
}
